
body {
    background:  #ADD8E6;
    margin: 0;
    align-content: center;
    font-family: Arial, sans-serif;
}



.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 40px 20px;
    background: whitesmoke;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
    margin: 120px auto auto;
    border-radius: 20px;
}

.inputContainer {
     margin: 10px 0;
 }

.inputField {
    height: 30px;
    width: 200px;
    padding: 0 10px;
    font-size: 14px;
    color: black;
    outline: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s;
}

.error {
    color: darkred;
    margin-top: 5px;
}

.notes-container,
.notes-container2,
.notes-container3{
    flex-grow: 1;
    padding: 30px;
    gap: 20px;
}


.notes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 60px;
}

.notes-container3 {
    display: flex;
    justify-content: center;
}

.notes-container2 {
    display: flex;
}

.buttonContainer {
    display: flex;
    margin-top: 20px;
}

.add-button,
.add-button2{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}

.add-button{
    background:  #ADD8E6;
    font-size: 24px;
    font-weight: bold;
}

.add-button2 {
    color: black;
    background: inherit;
    font-size: 17px;
}
.add-button2:hover{
    background-color: rgba(0, 0, 0, 0.3);
}


.login-button,
.logout-button{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


.login-button {
    background-color: #0f506c;
    margin-left: 10px;
}


.logout-button {
    background-color: #4682B4;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.logout-button:hover{
    background-color:  #0f506c;
}


.arrow-button {
    position: absolute;
    top:15px;
    left: 35px;
    background: inherit;
    color: darkslategray;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.inputButton,
.signInButton{
    background: #4682B4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inputButton {
    padding: 10px 80px;
}

.signInButton {
    padding: 10px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonsContainer{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}

.eyeButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-left: -20px;
    position: relative;
    z-index: 2;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #282c34;
    color: white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.content-container {
    display: flex;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sidebar input[type="text"] {
    width: calc(100% - 40px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.title {
    font-weight: bold;
}

.importance {
    color: white;
    align-self: flex-end;
    margin-right: 20px;
}

.left-section,
.right-section{
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
    width: calc(60% - 30px);
    background-color: #F0FFF0;
}

.right-section {
    width: calc(40% - 30px);
    background-color: #F5F5F5;
}

.details-container {
    display: flex;
    justify-content: space-between;
}

.welcome-container {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.welcome-message {
    color: darkslategray;
    flex-grow: 1;
    text-align: left;
    top: 70px;
    margin-left: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sections-container {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    flex: 1;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.section:first-child {
    background-color: #E6E6FA;
}

.section:nth-child(3){
    background-color: #5F9EA0;
}

.section:nth-child(2){
    background-color: #d3a4a5;
}

.section:last-child {
    margin-right: 0;
    background-color:  #FFFFE0;
}


.note-cube {
    position: relative;
    width: 330px;
    background-color: black;
    color: white;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    flex-direction: column;
}

.note-cube.note-type-0, .note-type-7 {
    background-color: #6A5ACD;
}

.note-cube.note-type-1, .note-type-6 {
    background-color: #5F9EA0;
}

.note-cube.note-type-2, .note-type-5 {
    background-color: #6495ED;
}

.note-cube.note-type-3, .note-type-4 {
    background-color: #458B74;
}


.add-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 40px 20px;
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 120px auto auto;
    border-radius: 20px;
}

.add-note-container form {
    width: 100%;
}

.add-note-container label {
    display: block;
    margin-bottom: 20px;
}

.add-note-container input,
.add-note-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.add-note-container input[type="submit"] {
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-note-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.details-button {
    background-color: inherit;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 230px;
    border: 2px solid inherit;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    display: inline-block;
}

.details-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    transform-style: preserve-3d;
    transition: 700ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    width: 700px;
    padding: 50px;
    margin: 0 auto;
    max-width: 100%;
}

.card .input{
    margin: 30px;
}

.card:hover {
    --translate-y: -8px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front {
    left: 0;
}

.front,
.back {
    position: absolute;
    padding: 80px;
    backface-visibility: hidden;
    font-size: 1.5rem;
    text-align: center;
}

.card .back {
    transform: rotateY(180deg);
    margin: 40px;
}

.flashcard-options {
    margin-top: .5rem;
}

.flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
}

.flashcard-option:first-child {
    margin-top: 0;
}

.front {
    transform: rotateY(0deg);
}


.back {
    transform: rotateY(180deg);
}

.add-note-link {
    text-decoration: none;
}

.add-note-button {
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-note-button:hover {
    background-color: #0056b3;
}

.plus-sign {
    margin-right: 5px;
}

.add-note-section{
    margin-bottom: 80px;
}


.update-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 270px;
    border: 2px solid inherit;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    display: inline-block;
}

.update-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.trashcan-button{
    background-color: inherit;
    color: whitesmoke;
    border:none;
    padding: 15px 30px;
    font-size: 24px;
}

.emoji {
    font-size: 24px; 
}

.flag-message{
    color: darkred;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-inner {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    max-width: 80%; 
    max-height: 80%; 
    overflow-y: auto; 
}

.popup-inner h2 {
    margin-top: 0;
}

.popup-inner p {
    margin-bottom: 0;
}

.popup-inner button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-inner button:hover {
    background-color: #0056b3; 
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
}