
body {
    background:  #ADD8E6;
    margin: 0;
    align-content: center;
    font-family: Arial, sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 40px 20px;
    background: whitesmoke;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
    margin: 120px auto auto;
    border-radius: 20px;
}

.inputContainer {
     margin: 10px 0;
 }

.inputField {
    height: 30px;
    width: 200px;
    padding: 0 10px;
    font-size: 14px;
    color: black;
    outline: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s;
}

.error {
    color: darkred;
    margin-top: 5px;
}

.notes-container,
.notes-container4,
.notes-container2,
.notes-container3{
    flex-grow: 1;
    padding: 30px;
    gap: 20px;
}

.notes-container4,
.notes-container {
    display: grid;
    margin-left: 60px;
}

.notes-container{
    grid-template-columns: repeat(4, 1fr);
}

.notes-container4{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.notes-container3 {
    display: flex;
    justify-content: center;
}

.notes-container2 {
    display: flex;
}

.buttonContainer {
    display: flex;
    margin-top: 20px;
}

.add-button,
.add-button2{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}

.add-button{
    background:  #ADD8E6;
    font-size: 24px;
    font-weight: bold;
}

.add-button2 {
    color: black;
    background: inherit;
    font-size: 23px;
    margin-bottom: 2px;
}
.add-button2:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.arrow-button {
    position: absolute;
    top:15px;
    left: 35px;
    background: inherit;
    color: darkslategray;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.inputButton,
.signInButton{
    background: #4682B4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inputButton {
    padding: 10px 75px;
}

.signInButton {
    width: 170px;
    padding: 10px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonsContainer{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}

.eyeButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-left: -20px;
    position: relative;
    z-index: 2;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #282c34;
    color: white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.content-container {
    display: flex;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sidebar input[type="text"] {
    width: calc(100% - 40px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.title {
    font-weight: bold;
}

.importance {
    color: white;
    align-self: flex-end;
    margin-right: 20px;
}

.left-section,
.right-section {
    top: 0;
    bottom: 0;
    padding: 20px;
}

.left-section {
    left: 0;
    width: calc(70% - 40px);
    background-color: #ADD8E6;
    overflow-y: auto;
}

.right-section {
    position: fixed;
    right: 0;
    width: calc(30% - 40px);
    background-color: #c2ffd5;
    overflow-y: auto;
}

.details-container {
    display: flex;
    justify-content: space-between;
}

.welcome-container {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-message {
    color: darkslategray;
    flex-grow: 1;
    text-align: left;
    top: 70px;
    margin-left: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sections-container {
    margin-top: 120px;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    flex: 1;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.section:first-child {
    background-color: #E6E6FA;
}

.section:nth-child(3){
    background-color: #5F9EA0;
}

.section:nth-child(2){
    background-color: #d3a4a5;
}

.section:last-child {
    margin-right: 0;
    background-color:  #FFFFE0;
}


.note-cube {
    position: relative;
    width: 330px;
    background-color: black;
    color: black;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    flex-direction: column;
}

.note-cube.note-type-0, .note-type-5 {
    background-color:#c1ffc1;
}

.note-cube.note-type-1, .note-type-6 {
    background-color: #E6E6FA;
}

.note-cube.note-type-2, .note-type-7 {
    background-color: #ffb6c1;
}

.note-cube.note-type-3, .note-type-4 {
    background-color: #FFFFE0;
}

.note-cube.card-type-0, .card-type-7 {
    color: #282c34;
    background-color:  #FFD1DC;
}

.note-cube.card-type-1, .card-type-6 {
    color: #282c34;
    background-color: #FFFFCC;
}

.text-left {
    text-align: left;
}

.note-cube.card-type-2, .card-type-5 {
    color: #282c34;
    background-color: #C7FFC4;
}

.note-cube.card-type-3, .card-type-4 {
    color: #282c34;
    background-color: #FFE8D1;
}


.add-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 40px 20px;
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 120px auto auto;
    border-radius: 20px;
}

.add-note-container form {
    width: 100%;
}

.add-note-container label {
    display: block;
    margin-bottom: 20px;
}

.add-note-container input,
.add-note-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.add-note-container input[type="submit"] {
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-note-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.details-button {
    background-color: inherit;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 230px;
    border: 2px solid inherit;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    display: inline-block;
}

.details-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    transform-style: preserve-3d;
    transition: 700ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    width: 700px;
    padding: 50px;
    margin: 0 auto;
    max-width: 100%;
}

.card .input{
    margin: 30px;
}

.card:hover {
    --translate-y: -8px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front {
    left: 0;
}

.front,
.back {
    position: absolute;
    padding: 80px;
    backface-visibility: hidden;
    font-size: 1.5rem;
    text-align: center;
}

.card .back {
    transform: rotateY(180deg);
    margin: 40px;
}

.flashcard-options {
    margin-top: .5rem;
}

.flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
}

.flashcard-option:first-child {
    margin-top: 0;
}

.front {
    transform: rotateY(0deg);
}


.back {
    transform: rotateY(180deg);
}

.add-note-link {
    text-decoration: none;
}

.add-note-button {
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-note-button:hover {
    background-color: #0056b3;
}

.plus-sign {
    margin-right: 5px;
}

.add-note-section{
    margin-bottom: 30px;
}

.trashcan-button{
    background-color: inherit;
    color: whitesmoke;
    border:none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
}

.flag-button {
    position: fixed; /* Position the button relative to the viewport */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    background-color: inherit;
    color: whitesmoke;
    border: none;
    font-size: 40px;
}


.pen{
    background-color: inherit;
    color: black;
    border:none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
}



.emoji {
    font-size: 24px; 
}

.flag-message {
    position: fixed;
    top: 30px; /* Position above the card */
    left: 30px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 1;
    display: block; /* Ensure it is displayed */
}

.popup-edit-flashcards,
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-edit-flashcards{
    padding: 20px; /* Add padding to give space at the top and bottom */
    box-sizing: border-box; /* Ensure padding is included in the total width and height */

}

.popup-inner-edit-flashcards,
.popup-inner {
    position: relative;
    background-color: #fff;
    padding: 40px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.popup-inner-edit-flashcards{
    width: 70%; /* Make the popup wider */
    max-width: 800px; /* Set a maximum width */
    border-radius: 8px;
    max-height: 90%; /* Ensure the popup doesn't exceed the height of the viewport */
    margin: auto; /* Center the popup vertically */
}

.popup-inner-edit-flashcards h2,
.popup-inner h2 {
    margin-top: 0;
}

.popup-inner-edit-flashcards p,
.popup-inner p {
    margin-bottom: 0;
}

.popup-inner-edit-flashcards button,
.popup-inner button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-inner-edit-flashcards button:hover,
.popup-inner button:hover {
    background-color: #0056b3;
}

.exit-button {
    position: absolute;
    background-color: #0056b3 !important;
    border: none;
    border-radius: 50%;
    top: 10px;
    right: 10px;
}

.button-popup{
    background-color: #0056b3 !important;
}

.popup .popup-inner .exit-button-profile {
    position: absolute;
    top: 10px;
    right: 25px; /* Adjust the right position as needed */
    background-color: #0056b3 !important; /* Change this to the desired background color */
    color: #ffffff !important; /* Change this to the desired text color */
    border: none;
    border-radius: 50%; /* Optional: makes the button circular */
    width: 30px; /* Adjust the width as needed */
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corner-image-left,
.corner-image-left-ambulanta,
.corner-image-left2,
.corner-image-center,
.corner-image-left3,
.corner-image-right {
    position: fixed;
    bottom: 10px;
    width: 400px;
    height: auto;
    z-index: 999;
}

.corner-image-left-ambulanta{
    bottom:3px;
    left:10px;
    width: 600px;
    height: auto;
}

.corner-image-left{
    left: 10px;
}

.corner-image-left3{
    left: 3px;
}

.corner-image-left2{
    left: calc(50% - 400px);
    width: 800px;
}

.corner-image-center{
    left: calc(50% - 300px);
    width: 600px;
}


.corner-image-right{
    right: 10px;
}

.content-container {
    padding: 20px;
}

.notes-container6 {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    margin-left: 160px;
}

.table-header {
    background-color: #4682B4;
    color: white;
    text-align: left;
}

.table-header-text {
    padding: 12px 15px;
    border: 1px solid #4682B4;
    text-align: center;
}

.table-row {
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.2s ease;
}

.table-row:nth-child(even) {
    background-color: #e9ecef;
}

.table-row:hover {
    background-color: #d6e3f3;
}

.table-row td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
}

.table-row td button {
    padding: 6px 12px;
    border: none;
    background-color: #4682B4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.table-row td button:hover {
    background-color: #0056b3;
}

.chat-container {
    width: 60%;
    margin: 90px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(90vh - 40px);
    position: relative;
}

.chat-header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-window {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 55px;
}

.chat-message {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 90%;
    word-wrap: break-word;
}

.chat-message.user {
    background-color: #007BFF;
    color: white;
    align-self: flex-end;
    float: right;
}

.chat-message.bot {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
    float: left;
}

.chat-input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    border-top: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.chat-input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.button-send-chat {
    background-color: #4682B4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button-send-chat:hover {
    background-color: #0056b3;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 15px;
    left: 30px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 30px;
}

.menu-item {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    display: block;
}

.menu-item:hover {
    background-color: #f1f1f1;
}

.questions-container {
    display: flex;
    flex-direction: column; /* Stack questions vertically */
    gap: 20px;
    width: 100%; /* Ensure the container takes full width */
    max-width: 800px; /* Adjust as needed for the maximum container width */
    margin: 0 auto;
}

/* Styles for each question display */
.questions-display {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%; /* Take full width of the container */
    transition: transform 0.2s ease-in-out;
}

.questions-display:hover {
    transform: scale(1.05);
}


.page-container,
.page-container-for-details{
    display: flex;
}

.page-container-for-details{
    height: 100vh;
}

.sidebar {
    position: fixed;
    right: 0; /* Position the sidebar on the right */
    top: 0;
    width: 350px;
    height: 96%;
    background: #4682B4;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%); /* Hide off-screen to the right */
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.sidebar.visible {
    transform: translateX(0); /* Move the sidebar back to its original position */
}


.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: auto;
    display: flex;
    align-items: center;
}



.toggle-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 27px;
    right: 30px;
    z-index: 1;
}

.toggle-button:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.pen:hover .hover-text-pen {
    visibility: visible;
    opacity: 1;
}

.trashcan-button:hover .hover-text-archive {
    visibility: visible;
    opacity: 1;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
    max-width: 800px;
    margin: 50px auto;
}

.arrow-container {
    margin-top: 8px;
}

.arrow-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.update-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #282c34;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    display: block;
    margin-top: 20px;
    padding: 10px 155px;
    background: #282c34;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}



.update-button:hover, .delete-button:hover {
    background: #3c3f46;
}

.confirmation-popup {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.confirmation-popup button {
    margin: 5px;
    padding: 10px;
    background: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmation-popup button:hover {
    background: #3c3f46;
}

.details-container {
    display: flex;
}

.left-section2 {
    flex: 3;
    padding: 20px;
}

.sidebar-header {
    background: #4169E1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: sticky;
    top: 0;
}

.sidebar-header h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.tree-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4169E1;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

.profile-picture {
    width: 100px;  /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the element */
    margin-top: 10px; /* Adjust the margin as needed */
}

.logout-button2,
.logout-button {
    position: absolute;
    top: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: #4682B4; /* Change this to the desired background color */
    color: #ffffff; /* Change this to the desired text color */
    border: none;
    border-radius: 5px; /* Optional: adjust the border radius */
    padding: 10px 20px; /* Adjust the padding as needed */
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Remove underline */
}

.logout-button2 {
    right: 720px; /* Adjust the distance from the right as needed */
}

.logout-button:hover {
    background-color: #0056b3; /* Change this to the desired hover background color */
}

.user-icon {
    background-color: #ADD8E6; /* Button background color */
    color: #ffffff; /* Button text (icon) color */
    border: none; /* Remove default border */
    border-radius: 50%; /* Makes the button circular */
    width: 80px; /* Button width */
    height: 80px; /* Button height */
    font-size: 1.5rem; /* Font size for the icon */
    cursor: pointer; /* Change cursor to pointer on hover */
    display: flex; /* Flexbox layout */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.user-icon:hover {
    background-color:  #ADD8E6; /* Background color on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.user-icon:active {
    background-color:  #ADD8E6; /* Background color on click */
    transform: scale(0.95); /* Slightly shrink the button on click */
}

.add-note-container {
    padding: 20px;
    margin-bottom: 100px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group label {
    flex: 1;
    margin-right: 10px;
}

.input-group input {
    width: calc(70% - 5px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.update-criteria-field{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination-button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    margin-left: 300px;
    margin-right: 300px;
}


.options-chat-archive {
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    margin-left: 20px;
}


.hover-text,
.hover-text-pen,
.hover-text-archive
{
    visibility: hidden;
    width: 130px;
    background-color: lightskyblue;
    color: black;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: 125%; /* Position below the button */
    left: 50%;
    margin-left: -100px; /* Center the hover text */
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-text-pen
{
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 60%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-text-archive
{
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 40%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.success-popup {
    position: fixed;
    top: 20px;
    right: 10px;
    background-color: darkslategrey;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.success-popup-inner {
    text-align: center;
}
