body {
    background:  #ADD8E6;
    margin: 0;
    align-content: center;
    font-family: Arial, sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 40px 20px;
    background: whitesmoke;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
    margin: 120px auto auto;
    border-radius: 20px;
}

.inputContainer {
    margin: 10px 0;
}

.inputField {
    height: 30px;
    width: 200px;
    padding: 0 10px;
    font-size: 14px;
    color: black;
    outline: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s;
}

.error {
    color: darkred;
    margin-top: 5px;
}

.buttonContainer {
    display: flex;
    margin-top: 20px;
}

.add-button{
    background:  #ADD8E6;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.buttonsContainer{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.inputButton {
    background: #4682B4;
    color: white;
    padding: 10px 80px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.titleContainer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}

.signInButton {
    background-color: #4682B4;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.eyeButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-left: -20px; /* Adjust as needed */
    position: relative;
    z-index: 2;
}

.sidebar {
    width: 200px; /* Adjust width as needed */
    padding: 20px;
    background-color: #282c34;
    color: white;
    position: fixed;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.content-container {
    display: flex;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sidebar input[type="text"] {
    width: calc(100% - 40px); /* Subtract padding from width */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Title styles */
.title {
    font-weight: bold;
}

.importance {
    color: white;
    align-self: flex-end;
    margin-right: 20px;
}


.logout-button {
    background-color: #4682B4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.logout-button:hover{
    background-color:  #0056b3;
}

.details-container {
    display: flex;
    justify-content: space-between;
}

.left-section {
    margin: 30px;
    width: calc(60% - 30px); /* Adjusting for margin */
    background-color: #F0FFF0; /* Pastel green color */
    padding: 20px;
    border-radius: 10px; /* Adding border radius for a softer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
}

.right-section {
    margin: 30px;
    width: calc(40% - 30px); /* Adjusting for margin */
    background-color: #F5F5F5; /* Pastel gray color */
    padding: 20px;
    border-radius: 10px; /* Adding border radius for a softer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
}


